* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
    margin: 0 !important;
}

.active {
    color: #1BA249;
}

/* DEFAULT BUTTONS */
.button_1 {
    outline: none;
    border: none;
    border-top-right-radius: 32rem;
    padding: 1rem 4rem;
    background-color: #1BA249;
    color: #fff;
    font-weight: 600;
}

.button_2 {
    outline: none;
    border: none;
    padding: 10px;
    background-color: #1BA249;
    border-radius: 5px;
    color: #fff;
}

.button_3 {
    outline: none;
    border: 1px solid #1BA249;
    ;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 500px;
    color: #1BA249;
}

.button_4 {
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: #1BA249;
    border-radius: 200px;
    color: #fff;
}








.hero_02 {
    width: 100%;
    height: max-content;
}

.hero_02_content {
    background-color: #000000b2;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16%;
    padding-bottom: 8%;
}

.hero_02_content h2 {
    color: #fff;
    font-size: 300%;
}

@media (max-width: 768px) {
    .hero_02_content {
        padding-top: 25%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .hero_02_content {
        padding-top: 30%;
        text-align: center;
    }
}

@media (max-width: 370px) {
    .hero_02_content {
        padding-top: 40%;
        text-align: center;
    }

    .hero_02_content h2 {
        font-size: 200%;
    }
}








.hero_02 {
    width: 100%;
    height: max-content;
}

.hero_03_content {
    background-color: #00000000;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16%;
    padding-bottom: 8%;
}

.hero_03_content h2 {
    color: #fff;
    font-size: 300%;
}

@media (max-width: 768px) {
    .hero_03_content {
        padding-top: 25%;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .hero_03_content {
        padding-top: 30%;
        text-align: center;
    }
}

@media (max-width: 370px) {
    .hero_03_content {
        padding-top: 40%;
        text-align: center;
    }

    .hero_03_content h2 {
        font-size: 200%;
    }
}









/* ************************************************************************************************** */
.floating_btn_call {
    position: fixed;
    bottom: 330px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon_call {
    background-color: #195836;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #195836;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon_call {
    margin-top: 8px;
    color: #000000;
    font-size: 13px;
}

/* ************************************************************************************************** */
/* ************************************************************************************************** */
.floating_btn_instagram {
    position: fixed;
    bottom: 230px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon_instagram {
    background-color: #C5447E;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #C5447E;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon_instagram {
    margin-top: 8px;
    color: #000000;
    font-size: 13px;
}

/* ************************************************************************************************** */
/* ************************************************************************************************** */
.floating_btn_whatsapp {
    position: fixed;
    bottom: 130px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon_whatsapp {
    background-color: #57E179;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #57E179;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon_whatsapp {
    margin-top: 8px;
    color: #000000;
    font-size: 13px;
}

/* ************************************************************************************************** */
/* ************************************************************************************************** */
.floating_btn_chat {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon_chat {
    background-color: #506ACA;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #506ACA;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon_chat {
    margin-top: 8px;
    color: #000000;
    font-size: 13px;
}

.contact_icon_close {
    background-color: #506ACA;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: none;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #506ACA;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}

.fa-xmark {
    display: none;
}

/* ************************************************************************************************** */
.floating_btn_call,
.floating_btn_instagram,
.floating_btn_whatsapp,
.contact_icon_close {
    position: fixed;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.floating_btn_call.show,
.floating_btn_instagram.show,
.floating_btn_whatsapp.show,
.contact_icon_close.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

/* Ensure the default hidden state */
.floating_btn_call,
.floating_btn_instagram,
.floating_btn_whatsapp,
.contact_icon_close {
    display: flex;
}

.contact_icon_chat {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.contact_icon_chat.hide {
    display: none;
}
















/* header part css */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: max-content;
    background-color: #000;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.header_slide_1 {
    width: 100%;
    background-color: #000;
    height: max-content;
    color: #fff;
    padding-left: 4rem;
    padding-right: 4rem;
}

.header_slide_1 p {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.header_slide_1 a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 576px) {
    .header_slide_1 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.header_slide_2 {
    width: 100%;
    height: max-content;
    background-color: #fff;
    padding-left: 4rem;
    padding-right: 4rem;
}


.navbar {
    width: 100%;
}

.header_col1 {
    display: flex;
    align-items: center;
    justify-content: start;
}

.header_col1 img {
    width: 100%;
}

.header_col2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_col2 a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.header_col3 {
    display: flex;
    align-items: center;
    justify-content: end;
}

.header_col3 a {
    color: #000;
    font-size: 200%;
}

.mobile_menu {
    width: 100%;
    height: max-content;
    display: none;
}

.mobile_menu a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.mobile_menu li {
    list-style-type: none;
    padding-bottom: 10px;
}

.header_col4 {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header_col4 p {
    margin: 0;
    font-weight: bold;
}

.header_col4 a {
    text-decoration: none;
    color: #000;
}

.header_col4 h3 {
    color: #1BA249;
    border: 4px solid #1BA249;
    border-radius: 100%;
    padding: 10px;
}

@media (max-width: 992px) {}

@media (max-width: 992px) {
    .header_col2 a {
        font-size: 90%;
    }

    .header_col4 {
        display: none;
    }
}

@media (max-width: 768px) {
    .header_top_strip {
        display: none;
    }

    .header_col2 {
        display: none;
    }

    .header_col1 img {
        width: 50%;
    }
}

@media (min-width: 769px) {
    .header_col3 {
        display: none;
    }
}


@media (max-width: 450px) {
    .header_col1 img {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .header_slide_2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}



/* HERO SECTION CSS */
.hero {
    margin-top: 5rem;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Puts the video behind the content */
}

.hero_content_container {
    background-color: #ffffff69;
    position: relative;
    z-index: 1;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    padding-left: 10%;
}

.hero_content_container h2 {
    font-weight: 700;
    font-size: 400%;
    width: 80%;
}

.hero_content_container p {
    font-weight: 500;
    font-size: 100%;
    width: 50%;
}

@media (max-width: 992px) {
    .hero_content_container h2 {
        font-weight: 700;
        font-size: 300%;
        width: 100%;
    }

    .hero_content_container p {
        font-weight: 500;
        font-size: 100%;
        width: 80%;
    }

    .hero {
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .hero_content_container {
        padding-top: 10%;
        padding-bottom: 10%;
        padding-right: 5%;
        padding-left: 5%;
    }
}

@media (max-width: 576px) {
    .hero_content_container h2 {
        font-weight: 700;
        font-size: 200%;
        width: 100%;
    }

    .hero_content_container p {
        font-weight: 500;
        font-size: 100%;
        width: 100%;
    }

}

@media (max-width: 340px) {
    .hero_content_container h2 {
        font-size: 120%;
    }
}



/* SECTION 1 */
.journey_of_excellence {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.journey_of_excellence h3 {
    font-weight: 600;
    font-size: 300%;
    text-align: center;
}

.journey_of_excellence_col1 img {
    width: 100%;
}


.journey_of_excellence_quote {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.journey_of_excellence_quote p {
    margin: 0;
    font-weight: bold;
}

.journey_of_excellence_quote a {
    text-decoration: none;
    color: #000;
}

.journey_of_excellence_quote img {
    padding-right: 10px;
}




@media (max-width: 992px) {
    .journey_of_excellence h3 {
        font-weight: 600;
        font-size: 200%;
        text-align: center;
        padding: 5% 3%;
    }
}

@media (min-width: 992px) {
    .journey_of_excellence h3 {
        padding: 5% 25%;
    }
}

@media (max-width: 576px) {
    .service_excellence_lg {
        display: none;
    }

    .service_excellence_sm {
        display: block;
    }

    .journey_of_excellence_col2 p {
        text-align: justify;
    }

    .journey_of_excellence {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 576px) {
    .service_excellence_lg {
        display: block;
    }

    .service_excellence_sm {
        display: none;
    }
}

/* SECTION 2 */
.accreditations {
    width: 100%;
    height: max-content;
    padding-top: 3rem;
    padding-left: 10%;
    padding-right: 10%;
}

/* ***************************************  */
/* old marquee css commented below */

/* 
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marquee-content {
    display: inline-flex;
    animation: marquee 45s linear infinite;
}

.marquee-content img {
    margin: 0 20px;
    height: 50px;

    vertical-align: middle;
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


@media (max-width: 600px) {
    .marquee-content img {
        margin: 0 10px;
        height: 30px;

    }
} */


.marquee {
    height: 80px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 8px 0 4px 0;
}


/* would need to be adjusted depending on time */
.marquee .marqueeone {
    animation: marquee 20s linear infinite;
}

.marquee .marqueetwo {
    animation: marquee 20s linear 5s infinite;
}

.marquee .marqueethree {
    animation: marquee 20s linear 10s infinite;
}

.marquee .marqueefour {
    animation: marquee 20s linear 15s infinite;
}


/* even out the elements */
.marquee div {
    position: absolute;
    width: 100%;
    left: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.marquee:hover div {
    animation-play-state: paused;
}

/* add delay at the end of animation so you dont start while another div is going */
@keyframes marquee {
    0% {
        left: 100%;
    }

    50% {
        left: -100%;
    }

    100% {
        left: -100%
    }
}


/* CS FOR ACCREDITATIONS PART */
.accreditations h3 {
    font-weight: 600;
    font-size: 200%;
    text-align: center;
}

@media (max-width: 992px) {
    .accreditations h3 {
        font-weight: 600;
        font-size: 150%;
        text-align: center;
        padding: 5% 3%;
    }
}

@media (max-width: 576px) {
    .accreditations {
        padding-left: 5%;
        padding-right: 5%;
    }
}


















/* CSS FOR LAB CAPABILITIES PART  */
.lab_capabilities_lg {
    width: 100%;
    height: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
}

.lab_capabilities_lg h3 {
    font-weight: 600;
    font-size: 200%;
    text-align: center;
    padding-bottom: 2rem;
}

.home_test_card {
    width: 100%;
    height: max-content;
    background-color: #1BA249;
    border: 1px solid #1BA249;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

.home_test_card:hover {
    background-color: #E0E21E;
    border: 2px solid #E0E21E;
}


.home_test_card:hover.home_test_card p {
    color: #000;
}

.home_test_card img {
    width: 100%;

    transition: 1s ease;
}

.home_test_card img:hover {
    scale: 110%;
}

.home_test_card p {
    color: #fff;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}


.lab_capabilities_sm {
    width: 100%;
    height: max-content;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
}

.lab_capabilities_sm h3 {
    font-weight: 600;
    font-size: 200%;
    text-align: center;
    padding-bottom: 2rem;
}

.home_test_card_sm {
    width: 200px;
    height: max-content;
    background-color: #1BA249;
    border: 1px solid #1BA249;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.home_test_card_sm img {
    width: 100%;
    transition: 1s ease;
}

.home_test_card_sm img:hover {
    scale: 110%;
}

.home_test_card_sm p {
    color: #fff;
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slider-container {
    overflow-x: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    scroll-snap-type: x mandatory;
    padding: 10px 0;
}

.slider {
    display: flex;
    gap: 10px;
    cursor: grab;
}

@media (max-width: 576px) {
    .lab_capabilities_lg {
        display: none;
    }

    .lab_capabilities_sm {
        display: block;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (min-width: 576px) {
    .lab_capabilities_lg {
        display: block;
    }

    .lab_capabilities_sm {
        display: none;
    }
}








/* CSS FOR achivements PART  */

.achivements {
    width: 100%;
    height: max-content;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.achivements_col1 {
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;

}

.achivements_col1 img {
    width: 30%;
}

.achivements_col1 h4 {
    padding-left: 20px;
    color: #fff;
    font-weight: 600;
}









.progress-section {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    background-color: #000000;
    padding: 20px;
}

.progress-bar-container {
    text-align: center;
    color: white;
    width: max-content;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 15px;
    /* background-color: #ffffff !important; */
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
    border: 1px solid #fff;
}

.progress-fill {
    display: block;
    height: 100%;
    background-color: #1BA249;
    width: 0;
    border-radius: 5px;
    transition: width 1s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: white;
    opacity: 100;
    /* Initially hidden */
    transition: opacity 0.5s ease 0.5s;
    /* Delay the text display slightly */
}

@media (max-width: 576px) {
    .progress-section {
        flex-direction: column;
    }

    .progress-bar-container {
        width: 100%;
    }
}








.special_testing {
    width: 100%;
    height: max-content;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.special_testing p {
    font-size: 150%;
    font-weight: 600;
}


@media (max-width: 992px) {
    .special_testing {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 576px) {
    .special_testing {
        padding-left: 5%;
        padding-right: 5%;
    }
}






/* css of locations - home page  */

.home_locations_header {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}

.home_locations_header h2 {
    width: 100%;
    font-weight: 700;
    font-size: 300%;
    /* margin-top: 15rem; */
}





.home_locations {
    width: 100%;
    height: max-content;
    position: relative;
    background-color: #FFFFE2;
}

.home_locations img {
    width: 100%;
    position: relative;
}

.home_locations_content_container {
    width: 50%;
    height: max-content;
    position: absolute;
    bottom: 0;
    left: 10%;
    padding: 20px;
}

.home_locations_content_container h2 {
    width: 100%;
    font-weight: 700;
    font-size: 300%;
    /* margin-top: 15rem; */
}


.home_locations_content_container p {
    width: 80%;
    text-align: justify;
}

.home_locations_address_card_col {
    padding: 20px;
}

.home_locations_address_card {
    background-image: url(../img/addressCardBg.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
    text-align: center;
    width: max-content;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #00000036;
    padding: 5px;

    /* margin-right: 10px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_locations_address_card p {
    text-align: center;
    font-weight: bold;
    font-size: 70%;
}

.home_locations_address_card a {
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 70%;

}

@media (max-width: 1200px) {
    .home_locations_address_strip {
        width: 85%;
    }
}

@media (max-width:800px) {
    .home_locations_address_strip {
        width: 100%;
    }

    .home_locations_content_container h2 {
        width: 90%;
        margin-top: 5rem;
    }

    .home_locations_content_container p {
        width: 100%;
    }
}

@media (max-width:700px) {
    .home_locations_address_strip {
        flex-direction: column;
    }
}

@media (max-width:576px) {
    .home_locations {
        padding-left: 0%;
        padding-right: 0%;
    }

    .home_locations_header {
        padding-left: 5%;
        padding-right: 5%;
    }

}





















/* ******************************************************************** */
.india_popup_hidden {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 35%;
    bottom: 47%;
    background-color: #ff000000;
}

.india_popup_display {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 15rem;
    height: max-content;
    border-radius: 5px;
    position: absolute;
    right: 37%;
    bottom: 49%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #00000080;
    padding: 5px;
}

.india_popup_display p {
    font-weight: bold;
}

.india_popup_display a {
    color: #000;
    text-decoration: none;
}

.india_popup_hidden:hover+.india_popup_display {
    visibility: visible;
    opacity: 1;
}



/* ******************************************************************** */

.uae_popup_hidden {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 39.5%;
    bottom: 48.5%;
    background-color: #ff000000;
}

.uae_popup_display {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 15rem;
    height: max-content;
    border-radius: 5px;
    position: absolute;
    right: 42%;
    bottom: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #00000080;
    padding: 5px;
}

.uae_popup_display p {
    font-weight: bold;
}

.uae_popup_display a {
    color: #000;
    text-decoration: none;
}

.uae_popup_hidden:hover+.uae_popup_display {
    visibility: visible;
    opacity: 1;
}



/* ******************************************************************** */

.quatar_popup_hidden {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40.5%;
    bottom: 50%;
    background-color: #ff000000;
}

.quatar_popup_display {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 15rem;
    height: max-content;
    border-radius: 5px;
    position: absolute;
    right: 43%;
    bottom: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #00000080;
    padding: 5px;
}

.quatar_popup_display p {
    font-weight: bold;
}

.quatar_popup_display a {
    color: #000;
    text-decoration: none;
}

.quatar_popup_hidden:hover+.quatar_popup_display {
    visibility: visible;
    opacity: 1;
}



/* ******************************************************************** */

.usa_popup_hidden {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 71.5%;
    bottom: 53%;
    background-color: #ff000000;
}

.usa_popup_display {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 15rem;
    height: max-content;
    border-radius: 5px;
    position: absolute;
    left: 29%;
    bottom: 52%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #00000080;
    padding: 5px;
}

.usa_popup_display p {
    font-weight: bold;
}

.usa_popup_display a {
    color: #000;
    text-decoration: none;
}

.usa_popup_hidden:hover+.usa_popup_display {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .india_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 35%;
        bottom: 59%;
        background-color: #ff000000;
    }

    .uae_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 39.5%;
        bottom: 59%;
        background-color: #00000000;
    }

    .quatar_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 40.5%;
        bottom: 61%;
        background-color: #ff000000;
    }

    .usa_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 71.5%;
        bottom: 63%;
        background-color: #ff000000;
    }
}

@media (max-width: 768px) {
    .india_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 34%;
        bottom: 65%;
        background-color: #ff000000;
    }

    .uae_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 38%;
        bottom: 64%;
        background-color: #ff000000;
    }

    .quatar_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 40.5%;
        bottom: 66%;
        background-color: #ff000000;
    }

    .usa_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 71.5%;
        bottom: 68%;
        background-color: #ff000000;
    }
}

@media (max-width: 576px) {
    .india_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 30%;
        bottom: 80%;
        background-color: #ff000000;
    }

    .uae_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 37%;
        bottom: 79.5%;
        background-color: #ff000000;
    }

    .quatar_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 40.5%;
        bottom: 82%;
        background-color: #ff000000;
    }

    .usa_popup_hidden {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 71.5%;
        bottom: 82%;
        background-color: #ff000000;
    }

    .india_popup_display {
        right: 37%;
        bottom: 80%;
    }

    .uae_popup_display {
        right: 42%;
        bottom: 85%;
    }

    .quatar_popup_display {
        right: 43%;
        bottom: 85%;
    }

    .usa_popup_display {
        left: 29%;
        bottom: 80%;
    }

}



















/* CSS FOR FOOTER  */
.footer {
    width: 100%;
    height: max-content;
    background-image: url(../img/footer_banner.webp);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.footer_col {
    margin-top: 20px !important;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer h3 {
    color: #fff;
    font-weight: 600;
}

.footer p {
    font-weight: 300;
}

.footer i {
    color: #E0E21D;
}

.footer_input_container {
    width: max-content;
    max-width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.footer_input_container input {
    outline: none;
    border: none;
    padding: 5px;
}

.footer h5 {
    color: #fff;
    font-weight: 500;
    width: 100%;
    border-bottom: 2px solid #E0E21D;
}

.footer_dialer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_dialer img {
    padding-right: 10px;
}



.footer_address {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_address img {
    padding-right: 10px;
}

.footer_base1 p {
    font-size: 80%;
    margin-top: 30px !important;

}

.footer_base2 p {
    margin-top: 30px !important;
    font-size: 80%;
    float: right;
}

@media (max-width: 576px) {
    .footer_input_container input {
        width: 100%;
    }

    .footer_input_container button {
        width: 100%;
    }

    .footer_base2 p {
        float: none;
        text-align: center;
    }

    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */






.about_hero {
    background-image: url(../img/about_background.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.about_sec1 {
    width: 100%;
    height: max-content;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 6%;
    padding-bottom: 6%;
}

.about_sec1 h3 {
    font-weight: 600;
    font-size: 300%;
    text-align: left;
}

.about_sec1 p {
    text-align: justify;
}

.about_sec1_col1 {
    padding-bottom: 10px;
}


.about_sec1_col2 img {
    width: 100%;
}


@media (max-width: 992px) {
    .about_sec1_col2 {
        display: none;
    }
}

@media (max-width: 768px) {
    .about_sec1 {
        width: 100%;
        height: max-content;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .about_sec1 h3 {
        font-size: 200%;
    }
}

@media (max-width: 576px) {
    .about_sec1 h3 {
        font-size: 150%;
    }
}





.team {
    width: 100%;
    height: max-content;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 5%;

    background-image: url(../img/team_bg.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.team h3 {
    font-weight: 600;
    font-size: 300%;
    text-align: left;
    padding-bottom: 40px;
    text-align: center;
}

@media (max-width: 768px) {
    .team {
        padding-left: 5%;
        padding-right: 5%;
    }

    .team h3 {
        font-size: 200%;
    }
}

@media (max-width: 576px) {
    .team h3 {
        font-size: 150%;
    }
}

.team_card_col {
    margin-bottom: 20px;
}

.team_card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px #00000059;
}

.team_card img {
    width: 100%;
}

.team_card h5 {
    font-weight: 600;
}

.team_card p {
    text-align: justify;
}


















.about_sec2 {
    width: 100%;
    height: max-content;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;

    background-image: url(../img/metsLabStandsOut_bg.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;

    color: #fff;
}

.about_sec2 h3 {
    font-weight: 600;
    font-size: 300%;
    text-align: left;
    padding-bottom: 40px;
    text-align: left;
}

.about_sec2 p {
    font-weight: 200;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .about_sec2 {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
    }

    .about_sec2 h3 {
        font-size: 200%;
    }

    .about_sec2 h3 {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .about_sec2 h3 {
        font-size: 150%;
    }
}


















/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */



.services_hero {
    background-image: url(../img/services_background.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}


























/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */



.accreditations_hero {
    background-image: url(../img/accreditations_hero_background.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.accreditations {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.accreditations_col {
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accreditations img {
    width: 100%;
}

@media (max-width: 768px) {
    .accreditations {
        padding-left: 5%;
        padding-right: 5%;
    }
}


























/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */



.report_hero {
    background-image: url(../img/accreditations_hero_background.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.report_login {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.report_login_card {
    width: 100%;
    height: max-content;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    border-radius: 20px;
}

.report_login_card_col2 img {
    width: 100%;
}

.report_login_card_col1 input {
    border-radius: 10px;
    outline: none;
    border: 1px solid #000;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.report_login_card_col1 label {
    color: #000;
    font-size: 120%;
    font-weight: 500;
}

@media (max-width: 768px) {
    .report_login_card_col2 {
        display: none;
    }

    .report_login_card {
        width: 100%;
        height: max-content;
        box-shadow: 0px 0px 10px #000;
        padding: 0px;
        border-radius: 20px;

        background-image: url(../img/report_login_card_bg.png);
        background-size: cover;
        /* Ensures the image covers the entire div */
        background-position: center;
        /* Centers the image */
        background-repeat: no-repeat;
        /* Prevents the image from repeating */
        overflow: hidden;
    }

    .report_login_card_col1 {
        padding: 20px;
        background-color: #c7c7c79d;
    }
}























/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */



.contact_hero {
    background-image: url(../img/contact_hero_bg.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.contact_sec {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.message_card {
    width: 100%;
    height: max-content;
    padding: 30px;
    background-color: #F3F6F7;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000006c;
}

.message_card h5 {
    font-weight: bold;
    font-size: 200%;
}

.message_card p {
    color: #1BA249;
    font-size: 80%;
}

.message_card input {
    margin-bottom: 30px;
    border: 2px solid #00000044;
    border-radius: 200px;
    padding: 10px;
    width: 100%;
}

.message_card textarea {
    margin-bottom: 30px;
    border: 2px solid #00000044;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
}

.contact_sec h4 {
    font-weight: bold;
    font-size: 200%;
}

.contact_sec h6 {
    font-weight: bold;
    font-size: 150%;
    padding-top: 30px;
}

.timings_div {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timings_div p {
    margin: 0;
}


@media (max-width: 768px) {
    .contact_sec {
        padding-left: 5%;
        padding-right: 5%;
    }

    .message_card {
        padding: 15px;
    }
}













/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */



.career_hero {
    background-image: url(../img/accreditations_hero_background.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.hiring_process {
    width: 100%;
    height: max-content;

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 20px;

    background-image: url(../img/Vector_1.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.hiring_process_col {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.hiring_process_card {
    width: 200px;
    height: 200px;
    padding: 5px;
    box-shadow: 0px 0px 10px #00000080;
    border-radius: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.hiring_process_card_inner {
    width: 180px;
    height: 180px;
    padding: 10px;
    box-shadow: 0px 0px 10px #00000080;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
}

.hiring_process_card h6 {
    font-weight: bold;
    font-size: 80%;
}

.hiring_process_card p {
    font-size: 70%;
    font-weight: 500;
    margin: 0;
}


@media (max-width: 768px) {
    .hiring_process {
        background-image: url(../img/Vector_2.png);
    }
}






















/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */
/* ************************************************************************************************************************** */



.water_testing_hero {
    background-image: url(../img/waste-water-hero-bg.png);
    background-size: cover;
    /* Ensures the image covers the entire div */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    overflow: hidden;
}

.service_detailing {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.service_detailing img {
    width: 100%;
}

.service_detailing p {
    font-size: 90%;
    padding-top: 10px;
}

.service_detailing h5{
    font-weight: bold;
}

.service_detailing_col {
    margin-bottom: 20px;
}

.service_detailing_card {
    width: 100%;
    height: 100%;
    border: 1px solid #00000083;
    border-radius: 15px;
}

.service_detailing_card h6 {
    font-weight: bold;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.service_detailing_card p {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}




@media (max-width: 768px) {
    .service_detailing {
        padding-left: 5%;
        padding-right: 5%;
    }
}












@media (max-width: 576px) {}

@media (max-width: 768px) {}